.btn {
	border: none;
	border-radius: 8px;
}

.btn.btn-primary {
	background-color: #007bff;
	color: #fff;
}

.btn.btn-secondary {
	background-color: red;
	color: #fff;
}

.btn.btn-link {
	background-color: transparent;
	color: #000;
}

.btn.btn-small {
	padding: 5px 10px;
}

.btn.btn-medium {
	padding: 10px 20px;
}

.btn.btn-big {
	padding: 15px 30px;
}
